@keyframes draw-card {
  0% {
    transform: translateY(100%) scale(1.05);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-10%) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-draw-card {
    animation: draw-card 0.5s ease-out;
  }
}
